@font-face {
    font-family:"test";
    src:url("Fragmentcore.otf");
}

h1 {
    color: orange;

}

h2 {

    color: blue;
    font-size: x-large;
    

}

body {
    
    background-color: gray;
    background-image: url("../");
    border: 2px solid black;
    margin: 50px;
    font-family:"test",Arial, Helvetica, sans-serif;

}
nav {
    display : inline-block

}
