<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page D'accueil</title>
        <link rel="stylesheet" href="../style/index.css">
        <link rel="icon" href="../Images/logo HTML.png">
    </head>
    <body>
        <header>
            <p class="dec1"></p>
            <h1>Sommaire</h1>
            <p class="dec2"></p>
        </header> <br> <br>
        <div class="boum">
            <nav class="left">
                <h2>
                    Les sections de mon site :
                </h2>
                <p>
                    Lien vers mon Cv
                </p>
                <p>
                    Lien vers ma page JavaScript
                </p>
                <p>
                    Lien vers ----
                </p>
            </nav>
            <section id="mid">
                <article> <!-- Les différents liens -->
                    <a href="../views/cv.html"> <div class="bouton">Création de mon Cv</div></a>
                    <a href=""><div class="bouton">Ma page JavaScript</div></a>
                </article>
            </section>
        </div>    
    </body>
</html>